@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) translateX(10px);
    opacity: 0;
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

:root {
  --background: #121212;
  --foreground: #ffffff;
  --nav-button-hover: rgba(255, 255, 255, 0.1);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Add custom font weights */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

p {
  font-weight: 300;
  letter-spacing: 0.01em;
}
